body {
    margin: 0;
    padding: 0;
}

.title {
    padding: 10px 0;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .charts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }
}